pandas>=2.2.3
numpy>=2.0.2
pyspark>=3.5.0
nltk>=3.8
emoji>=2.14.1
transformers>=4.52.4
torch>=2.7.0
torchvision
torchaudio --extra-index-url https://download.pytorch.org/whl/cpu
matplotlib
datasets
pyarrow
fastparquet
ipykernel